server:
  port: 8081

spring:
  application:
    name: transaction-api

  datasource:
    url: jdbc:postgresql://localhost:5433/gestaodb
    username: devuser
    password: devuser1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: localhost:9092
