server:
  port: 8081

spring:
  application:
    name: transaction-api

  datasource:
    url: jdbc:postgresql://localhost:5433/gestaodb
    username: devuser
    password: devuser1234
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

  kafka:
    bootstrap-servers: localhost:9092

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  override-with-generic-response: false